/* font import  */

/* to remove default space  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
.background img{
    /* box-shadow: linear-gradient(to bottom,rgba(0,0,0,0.8),rgba(0,0,0,0)20%,rgba(0,0,0,0)80%,rgba(0,0,0,0.8)) ; */
    
    opacity: 0.2;

}

body{
    font-family: sans-serif;
    background-color: black;
   
}
.container{
    position: relative;
   max-width: 100vw;
    height: 100vh;
    z-index: 2;
}
/* nav bar section  */
header nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.logo svg{
    fill: red;
    height: 97px;
    padding: 26px 56px;
    display: block;
}

.btn__link{
    text-align: right;
    margin: 35px 22%;
    display: inline-block;
}

.btn__link a{
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-color: red;
    padding: 7px 17px;
}

.btn__link select{
    margin-right: 25px;
    background: transparent;
    color: white;
    padding: 7px 35px;
    border-radius: 3px;
}

/* hero section  */
.hero{
    color: white;
    margin-top: 197px;
    text-align: center;
}
.hero h1{
    font-weight: 900;
    font-size: 3rem;
    
}

.hero h3{
    margin: 16px 0 0;    
    font-weight: 500;
    font-size: 1.5rem;
}

.hero p{
    font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 16px 0 20px;
}

.hero input{
    background: transparent;
    border: 1px solid red;
    border-radius: 3px;
    width: 368.75px;
    height: 56px;
    padding-left: 18px;
    font-size: 16px;
}

.hero button{
    width: 209.25px;
    height: 56px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 26px;
 position: relative;
}

.btn-a {
    display: flex;
    justify-content: center;
    align-items: center;
     
     gap: 10px;
     position: relative;
}

.btn-a button svg{
    height: 50%;
    position: absolute;
    top: 13px;
    right: 0;
    justify-content: center;
    
}

.card{
    color: white;
    
}